.body{
    /* background-color: rgba(78, 76, 76, 0.15); */
    position: relative; 
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 70%;
    margin-left: 35%;
    margin-bottom: 20%;
    display: flex;
  }